@media (max-width: 1005px) {
    .menu {
        display: none;
    }

    .logo {
        text-align: center;
    }

    header {
        display: flex;
        flex-flow: column wrap;
    }

    .chamada {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 10px;
    }

    .img {
        align-items: center;
    }

    section {
        flex-flow: column wrap;
        align-items: center;
    }

    .whats {
        display: none;
    }
}

@media (min-width: 450px) {

    .logo {
        text-align: center;
    }

    .chamada h2 {
        flex: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .chamada p {
        flex: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .chamada a {
        display: flex;
        justify-content: center;
        text-align: center;
        top: 10px;

    }

    .img {
        align-items: center;
    }

}