@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
}

.logo {
    text-align: left;
    flex: 20%;
}

.logo {
    font-family: "Lobster", sans-serif;
    font-size: 34px;
    color: #0F6CA6;
    white-space: nowrap;
}

.menu {
    text-align: right;
    flex: 70%;
    padding: 20px;

}

.menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #0F6CA6;
    padding: 20px 16px;
}

.menu a:hover {
    color: #F27D16;
    border-top: 4px solid #0F6CA6;
}

#botao {
    background-color: #0F6CA6;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 7%;
}

#botao:hover {
    border: none;
    background-color: #F27D16;
}

header {
    padding: 5%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.chamada {
    flex: 40%;
    padding-top: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.chamada h2 {
    font-weight: 900;
    font-size: 20px;
    color: #0F6CA6;
    padding: 0;
    margin: 0;
}

.chamada p {
    color: gray;
    text-align: left;
}

.btncontratar {
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 25px;
    background-color: #F27D16;
    color: white;
    border-radius: 5px;
}

.btncontratar:hover {
    background-color: #0F6CA6;
    color: white;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 40%;
}

.img img {
    max-width: 90%;
}

section {
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
    align-items: start;
}

section h2 {
    font-family: "Lobster", sans-serif;
    color: #0F6CA6;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5%;
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 5%;
    justify-content: center;
    border: 1px solid #F27D16;
    width: 300px;
    margin-bottom: 5%;
}

.textoculto {
    display: none;
    height: 300px;
    text-align: center;
    margin: 10px;

}

.textcard h3 {
    margin: 20px;
    align-items: center;
    font-size: 20px;
    color: #0F6CA6;
}

.textcard p {
    color: gray;
    text-align: left;
    margin: 20px;
    font-size: 16px;
}

.cards img {
    margin: 20px;
    border-radius: 5%;
}

.cards:hover {
    background-color: #F27D16;
    color: white;
    padding: 1px;
    width: 300px;

}

.cards:hover img {
    display: none;
    width: 300px;
}

.cards:hover .textcard {
    display: none;
}

.cards:hover .textoculto {
    display: block;
}

footer {
    border-top: 7px solid #F27D16;
    background: rgb(15, 108, 166);
    background: linear-gradient(180deg, rgba(15, 108, 166, 1) 0%, rgba(0, 0, 0, 1) 69%, rgb(21, 10, 0) 100%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;

}

footer h1 {
    font-family: "Lobster", sans-serif;
    font-size: 34px;
    color: white;
    margin-bottom: 1px;
    margin-top: 5%;
}

footer p {
    margin-top: 0px;
    margin-bottom: 5%;
    color: white;
    font-size: 22px;
}

footer h2 {
    color: white;
    font-size: 22px;
}

.whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.whats a img {
    width: 70px;
}